# Table with for Ketura Science paper

The objective of this script is to automatically generate the radiative fluxes table of this paper, and export it to LaTeX, with the proper t-tests.

In [6]:
import pandas as pd
import openpyxl
import numpy as np
import glob
from plotnine import *
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats
from scipy import signal
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap
from scipy import stats
import os
from plotnine.data import mtcars
from functools import reduce
from itertools import product, combinations

### Input and output paths

In [7]:
project_path = 'D:/Users/Rafaels/Dropbox/Doutorado/Working/Ketura/'   # Weizmann desktop
#project_path = 'C:/Users/rafas/Dropbox/Doutorado/Working/Ketura/'     # notebook
input_path   = project_path + '01_data/'
output_path  = project_path + '02_output/'
graphs_path  = project_path + '03_graphs/'

# Functions

- Explanation for the calculation of $T_S$:
  - Long eq., i.e. what is measured by a longwave sensor, ignoring the air column: $L_{sensor} = \varepsilon L_{out} + (1 - \varepsilon) L_{in} = \varepsilon\sigma T^4_s + (1 - \varepsilon) L_{in}$
  - Solving the long eq. for $T_s$ yields: $ T_s = \sqrt[4]{\frac{L_{sensor} - (1 - \varepsilon) L_{in}}{\varepsilon~\sigma}} = \sqrt[4]{\frac{L_{sensor}}{\varepsilon\sigma} - \frac{L_{in}}{\varepsilon\sigma} + \frac{L_{in}}{\sigma} }$ (i.e. Thakur et al., 2021; eq. 7)

In [18]:
def calculate_Ts(Lin, Lout, emissivity):
    # Calculating temperature from Lout
    # Constants
    sigma = 5.670374419*10**(-8) # Stefan-Boltzmann constant
    
    # Surface temperature [K]
    Ts_K = ((Lout - (1 - emissivity) * Lin) / (emissivity * sigma))**(1/4)
    Ts_C = Ts_K - 273.15
    
    return(Ts_C)

def calculate_Ts_simple(Lemitted, emissivity):
    # Calculating temperature from Lout
    # Constants
    sigma = 5.670374419*10**(-8) # Stefan-Boltzmann constant
    
    # Surface temperature [K]
    Ts_K = (Lemitted / (emissivity * sigma))**(1/4)
    Ts_C = Ts_K - 273.15
    
    return(Ts_C)

def averaging(temp):
    
    # define mid-day
    #temp = temp.loc[(temp['DateTime'].dt.hour >= 10) & (temp['DateTime'].dt.hour < 15)].copy()
    
    # define mid-night
    #temp = temp.loc[(temp['DateTime'].dt.hour >= 0) & (temp['DateTime'].dt.hour < 4)].copy()
    
    #print('before',len(temp.index))
    # uStar filter
    #temp = temp.loc[(temp['uStar'] >= 0.2)].copy()
    #print('after',len(temp.index))

    # Make mean and std dev
    df_means = temp.groupby(['Season','Ecosystem']).mean().reset_index()
    df_sds   = temp.groupby(['Season','Ecosystem']).std().reset_index()
    # rename columns
    df_means.rename(columns={'H': 'H_mean'}, inplace=True)
    df_means.rename(columns={'LE': 'LE_mean'}, inplace=True)
    df_means.rename(columns={'Rn': 'Rn_mean'}, inplace=True)
    df_means.rename(columns={'Ta': 'Ta_mean'}, inplace=True)
    df_means.rename(columns={'Ts': 'Ts_mean'}, inplace=True)
    df_means.rename(columns={'D_T': 'D_T_mean'}, inplace=True)
    df_means.rename(columns={'Pa': 'Pa_mean'}, inplace=True)
    df_means.rename(columns={'H2O': 'H2O_mean'}, inplace=True)
    df_means.rename(columns={'Lout': 'Lout_mean'}, inplace=True)
    df_means.rename(columns={'Lin': 'Lin_mean'}, inplace=True)
    df_means.rename(columns={'Sin': 'Sin_mean'}, inplace=True)
    df_means.rename(columns={'rho': 'rho_mean'}, inplace=True)
    df_means.rename(columns={'cp': 'cp_mean'}, inplace=True)
    df_means.rename(columns={'rH': 'rH_mean'}, inplace=True)

    df_sds.rename(columns={'H': 'H_sd'}, inplace=True)
    df_sds.rename(columns={'LE': 'LE_sd'}, inplace=True)
    df_sds.rename(columns={'Rn': 'Rn_sd'}, inplace=True)
    df_sds.rename(columns={'Ta': 'Ta_sd'}, inplace=True)
    df_sds.rename(columns={'Ts': 'Ts_sd'}, inplace=True)
    df_sds.rename(columns={'D_T': 'D_T_sd'}, inplace=True)
    df_sds.rename(columns={'Pa': 'Pa_sd'}, inplace=True)
    df_sds.rename(columns={'H2O': 'H2O_sd'}, inplace=True)
    df_sds.rename(columns={'Lout': 'Lout_sd'}, inplace=True)
    df_sds.rename(columns={'Lin': 'Lin_sd'}, inplace=True)
    df_sds.rename(columns={'Sin': 'Sin_sd'}, inplace=True)
    df_sds.rename(columns={'rho': 'rho_sd'}, inplace=True)
    df_sds.rename(columns={'cp': 'cp_sd'}, inplace=True)
    df_sds.rename(columns={'rH': 'rH_sd'}, inplace=True)
    
    merged = df_means.merge(df_sds, on=['Season','Ecosystem'])
    
    # Keep only relevant columns
    merged = merged[['Season','Ecosystem','H_mean','LE_mean','Rn_mean','Ta_mean','Ts_mean','D_T_mean','Pa_mean','H2O_mean','Lout_mean','Lin_mean','Sin_mean','rho_mean','cp_mean',\
                     'H_sd','LE_sd','Rn_sd','Ta_sd','Ts_sd','D_T_sd','Pa_sd','H2O_sd','Lout_sd','Lin_sd','Sin_sd','rho_sd','cp_sd','rH_mean','rH_sd']]
    
    return(merged)

def load_tower(fn, silent=False):
    if (not silent): print('EC Tower')
    temp = pd.read_csv(fn, index_col=None)
    temp.rename({'date_mid_hour': 'DateTime'}, axis=1, inplace=True)
    temp['DateTime'] = pd.to_datetime(temp['DateTime'], format='%d%b%y:%H:%M', utc=True)
    # Remove obsolete columns
    temp.drop(['year','date','DOY','month','weekNo','mid_hour','mmyy','Bat_V','Hum_AC'], axis=1, inplace=True)
    if (not silent): print("    ", '100.0 %\t', fn.split('/')[-1])
    return(temp)


# def diurnal(temp,Ecosystem,Season):
    
#     temp = temp.loc[(temp['Ecosystem'] == Ecosystem) & (temp['Season'] == Season)].copy()
    
#     # creating 'Time' column
#     temp['Time'] = temp['DateTime'].dt.strftime('%H:%M')
    
#     # Keep only relevant columns
#     temp = temp[['Time','Ecosystem','Lout']]
    
#     # Make mean and std dev
#     df_means = temp.groupby(['Ecosystem','Time']).mean().reset_index()
#     df_sds   = temp.groupby(['Ecosystem','Time']).std().reset_index()
#     # rename columns
#     df_means.rename(columns={'Lout': 'Lout_mean'}, inplace=True)
#     df_means.rename(columns={'Lin': 'Lin_mean'}, inplace=True)
#     df_means.rename(columns={'Sout': 'Sout_mean'}, inplace=True)
#     df_means.rename(columns={'Sin': 'Sin_mean'}, inplace=True)
#     df_means.rename(columns={'PARout': 'PARout_mean'}, inplace=True)
#     df_means.rename(columns={'PARin': 'PARin_mean'}, inplace=True)
    
#     df_sds.rename(columns={'Lout': 'Lout_sd'}, inplace=True)
#     df_sds.rename(columns={'Lin': 'Lin_sd'}, inplace=True)
#     df_sds.rename(columns={'Sout': 'Sout_sd'}, inplace=True)
#     df_sds.rename(columns={'Sin': 'Sin_sd'}, inplace=True)
#     df_sds.rename(columns={'PARout': 'PARout_sd'}, inplace=True)
#     df_sds.rename(columns={'PARin': 'PARin_sd'}, inplace=True)
    
#     merged = df_means.merge(df_sds, on=['Ecosystem','Time'])
    
#     return(merged)

def pvalue_text(p):
    if(p <= 0.001): p_text = '<.001'
    if(p > 0.001): p_text = '<.01'
    if(p > 0.01): p_text = '<.05'
    if(p > 0.05): p_text = p.round(2).astype(str)
    return(p_text)

def ttest_all(temp, category, list_of_test_cols, group_col):
    # Prepare name of categories to test against each other
    group1 = temp[group_col].unique()[0]
    group2 = temp[group_col].unique()[1]
    print('Testing', group1, '&', group2)
    
    # Prepare df for results
    out_df = pd.DataFrame(list(product(list_of_test_cols, temp[category].dropna().unique())), columns=['Parameter', category])
    out_df['p'] = np.nan
    
    # Do t-tests for all combinations
    for col in list_of_test_cols:
        #print('----')
        #print(col)
        for cat in temp[category].dropna().unique():
            #print(cat)
            a = temp.loc[(temp[group_col] == group1) & (temp[category] == cat),col]
            b = temp.loc[(temp[group_col] == group2) & (temp[category] == cat),col]
            t = stats.ttest_ind(a, b, equal_var=False, nan_policy='omit') # Welch t-test for inequal variances
            print(col, cat, ':', pvalue_text(t[1]))
            # Add data to resulting df
            out_df.loc[(out_df[category] == cat) & (out_df['Parameter'] == col), 'p'] = pvalue_text(t[1])
    
    return(out_df)

def ttest_all2(temp, categories_to_test, list_data_cols, test_type='independent'):
    # Prepare list of lists
    list_of_lists = []
    for cat_i, cat in enumerate(categories_to_test):
        sub_categories = list(temp[cat].unique())
        list_of_lists.append(sub_categories)
    print('All categories:', list_of_lists)
    
    # Count number of categories
    cat_count = len(categories_to_test)
    list_of_dfs = []
    
    # Go through the list of all data columns
    for data_col in list_data_cols:
        print("Testing data column: ", data_col)
        
        # Prepare empty list of lists to fill
        out_list = []
        # List all combinations, and go through
        for i in list(combinations( list(product(*list_of_lists)) , 2)):
            # If no x-1 elements (for 3 categories, that's 2) overlaps, skip
            # This makes sure not to test combinations where everything is different
            # (e.g. Autumn Pines Hamsin vs Spring Maquis Normal)
            if(sum([j in i[0] for j in i[1]]) < (cat_count-1)):
                continue
            #print(i)  # DEBUG
            # Prepare row to append data
            row_list = []
            a_conditions = []
            b_conditions = []
            # Check which elements are the same in each pair
            for j in range(cat_count):
                if(i[0][j] == i[1][j]):
                    #print('Identical columns:', i[0][j]) # DEBUG
                    row_list.append(i[0][j])
                else:
                    #print('Column to test:', categories_to_test[j]) # DEBUG
                    row_list.append('')
                # Create list of conditions
                a_conditions.append(temp[categories_to_test[j]] == i[0][j])
                b_conditions.append(temp[categories_to_test[j]] == i[1][j])
            # Create the text of which 2 variables are being tested against each other
            test_str = list(set(i[0]) - set(i[1]))[0] + ' vs. ' + list(set(i[1]) - set(i[0]))[0]
            row_list.append(test_str)
            # Prepare t-test
            a = temp.loc[reduce(np.logical_and, a_conditions), data_col]
            b = temp.loc[reduce(np.logical_and, b_conditions), data_col]
            if(test_type == 'independent'):
                t = stats.ttest_ind(a, b, equal_var=False, nan_policy='omit') # Welch t-test for inequal variances
            else:
                t = stats.ttest_rel(a, b, nan_policy='omit') # Paired t-test
            #row_list.append(t[1]) # Full P value
            row_list.append(pvalue_text(t[1])) # P value as text
            # Add p values to final output
            out_list.append(row_list)
    
        # Column names
        colnames = categories_to_test + ['Test','P_'+data_col]
        out_df = pd.DataFrame(out_list, columns=colnames)
        list_of_dfs.append(out_df)
    
    # Finally merge all
    final_df = reduce(lambda df1,df2: pd.merge(df1,df2, on=categories_to_test + ['Test']), list_of_dfs)
    print('Done...')
    
    return(final_df)

In [19]:
# Calculate saturation vapour pressure from pressure and temperature
# - 2 methods are available. Jones uses air pressure, Campbell & Norman do not
def calculate_es(T_C, P_Pa):
    # Jones p.348 (appendix 4)
    #es = (1.00072+(10**(-7)*P_Pa*(0.032+5.9*10**(-6)*T_C**2))) * (611.21*np.exp( (18.678-(T_C/234.5))*T_C/(257.14+T_C) ))

    # Eddypro manual: https://www.licor.com/env/support/EddyPro/topics/calculate-micromet-variables.html
    # Campbell & Norman (1998)
    T_K = T_C + 273.15
    es = T_K**(-8.2) * np.exp(77.345 + 0.0057*T_K - 7235 * T_K**(-1))
    return(es)

# Converts water concentration [mmol.mol] to RH [%]
def convert_mmol_RH(T_C, h2o_mmol_mol, P_Pa):
    
    T_K = T_C + 273.15
    #es = calculate_es(T_C, P_Pa)
    #RH <- 0.263*P_Pa*((h2o_mmol_mol*18.02/28.97)/1000)*np.exp(17.67*(T_C)/(T_K-29.65))**(-1)
    #RH = 100 if (RH > 100) else RH
    #RH = np.nan if (RH < 5) else RH

    # From Eddypro manual: https://www.licor.com/env/support/EddyPro/topics/calculate-micromet-variables.html
    R  = 8.314463                  # Ideal gas constant (J K-1 mol-1)
    M_d   = 0.02897                # molecular weights of dry air (kg mol-1)
    M_h2o = 0.01802                # molecular weights of water vapour (kg mol-1)
    R_h2o = R / M_h2o              # Water vapor gas constant (J K-1 mol-1)
    es = calculate_es(T_C, P_Pa)   # Water vapor partial pressure at saturation (Pa)
    P_d = P_Pa - es                # Dry air partial pressure (P_d, P_a)
    rho_d = P_d / (R / M_d * T_K)  # Dry air mass density (rho_d, kg m-3)
    v_d = M_d / rho_d              # Dry air molar volume (vd, m3 mol-1)
    v_a = v_d * P_d/P_Pa           # Air molar volume (vd, m3mol-1) 
    rho_h2o = h2o_mmol_mol/1000 * M_h2o / v_a # Water vapor mole fraction
    e  = rho_h2o * R_h2o * T_K     # Water vapor partial pressure (Pa) 
    RH = e/es * 100                # RH (%)
    return(RH)

# Density of dry air
# - https://en.wikipedia.org/wiki/Density_of_air
def calculate_rho_dry_air(T_C, P_Pa):
    # Constants
    R_dry_air = 287.058     # [J/(kg·K)] Specific gas const dry air
    # Calculations
    T_K = T_C + 273.15
    rho_dry_air = P_Pa / (R_dry_air * T_K) # Density of dry air (use for approximation)
    return(rho_dry_air)

# Density of moist air
def calculate_rho_moist_air(T_C, h2o_mmol_mol, P_Pa):
    # Temperature in K
    T_K = T_C + 273.15

    # Preparations
    R     = 8.314463             # Ideal gas constant (J K-1 mol-1)
    M_d   = 0.02897              # molecular weights of dry air (kg mol-1)
    M_h2o = 0.01802              # molecular weights of water vapour (kg mol-1)
    es = calculate_es(T_C, P_Pa) # Saturation vapour pressure (Pa)
    P_d = P_Pa - es              # Dry air partial pressure (P_d, P_a)
    rho_d = P_d / (R / M_d * T_K) # Dry air mass density (rho_d, kg m-3)
    v_d = M_d / rho_d            # Dry air molar volume (vd, m3 mol-1)
    v_a = v_d * P_d/P_Pa         # Air molar volume (vd, m3mol-1) 
    rho_h2o = h2o_mmol_mol/1000 * M_h2o / v_a # Water vapor mole fraction

    # Moist air mass density (ρa, kg m-3) 
    rho_air = rho_d + rho_h2o

    return(rho_air)

# Dry air heat capacity at constant pressure
# cp_d in [J kg-1 K-1]
 # https://www.licor.com/env/support/EddyPro/topics/calculate-micromet-variables.html
def calculate_cp_dry_air(T_C):
    cp = 1005 + ((T_C + 23.12)**2)/3364
    return(cp)

# Specific heat capacity of moist air at constant pressure
# cp_m in [J kg-1 K-1]
# https://www.licor.com/env/support/EddyPro/topics/calculate-micromet-variables.html
def calculate_cp_moist_air(T_C, h2o_mmol_mol, P_Pa):
    # Temperature in K
    T_K = T_C + 273.15

    # RH
    RH = convert_mmol_RH(T_C, h2o_mmol_mol, P_Pa)

    # Water vapor heat capacity at constant pressure (cp_h2o, J kg-1 K-1)
    cp_h2o = 1859 + 0.13*RH + (0.193 + 5.6*10**(-3) * RH)*T_C + (10**(-3) + 5 * 10**(-5)*RH)*T_C**2

    # Preparations
    R     = 8.314463             # Ideal gas constant (J K-1 mol-1)
    M_d   = 0.02897              # molecular weights of dry air (kg mol-1)
    M_h2o = 0.01802              # molecular weights of water vapour (kg mol-1)
    es = calculate_es(T_C, P_Pa) # Saturation vapour pressure (Pa)
    P_d = P_Pa - es              # Dry air partial pressure (P_d, P_a)
    rho_d = P_d / (R / M_d * T_K) # Dry air mass density (rho_d, kg m-3)
    v_d = M_d / rho_d            # Dry air molar volume (vd, m3 mol-1)
    v_a = v_d * P_d/P_Pa         # Air molar volume (vd, m3mol-1) 
    rho_h2o = h2o_mmol_mol/1000 * M_h2o / v_a # Water vapor mole fraction

    # Moist air mass density (ρa, kg m-3) 
    rho_air = rho_d + rho_h2o

    # Specific humidity (Q, kg kg-1) 
    Q = rho_h2o / rho_air

    # cp_moist
    cp = calculate_cp_dry_air(T_C) * (1-Q) + cp_h2o * Q
    return(cp)

def calculate_Lemitted(Lsensor, Lin, emissivity):
    Lemitted = Lsensor - (1 - emissivity)*Lin
    return(Lemitted)

def calculate_Lout_from_Lemitted(Lemitted, Lin, emissivity):
    Lout = Lemitted + (1 - emissivity)*Lin
    return(Lout)

# Calculates Rn
# If PVe=0 is given, it is calculated without it (i.e., it isn't a PV field)
def calculate_Rn(swin, swout, lwin, lwout, pve=0):
    # Calculate Rn
    Rn = swin - swout + lwin - lwout - pve
    return(Rn)

## Loading Yatir data

In [21]:
# Using Augusts of 2013-2020
yatir_df = load_tower(input_path + 'Yatir_2000-2020.csv')
yatir_df = yatir_df.loc[(yatir_df['DateTime'].dt.year >= 2013) & (yatir_df['DateTime'].dt.year < 2020)].copy()
#yatir_df = yatir_df.loc[(yatir_df['DateTime'].dt.month == 8)].copy()
yatir_df['DateTime'] = yatir_df['DateTime'] - pd.Timedelta(minutes=15)

# Rename
yatir_df.rename(columns={'S_top_atm(CM21_IV)_Wm-2': 'Sin'}, inplace=True)
yatir_df.rename(columns={'S_top_eco(CM21_III)_Wm-2': 'Sout'}, inplace=True)
yatir_df.rename(columns={'PAR_top_atm(IV)_umol_m-2s-1': 'PARin'}, inplace=True)
yatir_df.rename(columns={'PAR_top_eco(III)_umol_m-2s-1': 'PARout'}, inplace=True)
yatir_df.rename(columns={'L_top_atm(PIR_IV)_Wm-2': 'Lin'}, inplace=True)
yatir_df.rename(columns={'L_top_eco(PIR_III)_Wm-2': 'Lout'}, inplace=True)
yatir_df.rename(columns={'Fc_Cor_umol_m-2s-1': 'NEE'}, inplace=True)
yatir_df.rename(columns={'LE_Wm-2_Avg': 'LE'}, inplace=True)
yatir_df.rename(columns={'H_Wm-2': 'H'}, inplace=True)
yatir_df.rename(columns={'H2O_Con_mmol_mol-1': 'H2O'}, inplace=True)
yatir_df.rename(columns={'AirPress_Pa': 'Pa'}, inplace=True)
yatir_df.rename(columns={'Ustar_ms-1': 'uStar'}, inplace=True)

# yatir_df.rename(columns={'date_mid_hour': 'DateTime'}, inplace=True)

# yatir_df['DateTime'] = pd.to_datetime(yatir_df['DateTime'], format='%Y-%m-%d %H:%M:%S', utc=True)

# Convert columns to float
yatir_df['Sin']  = pd.to_numeric(yatir_df['Sin'], downcast="float")
yatir_df['Sout']  = pd.to_numeric(yatir_df['Sout'], downcast="float")
yatir_df['PARin']  = pd.to_numeric(yatir_df['PARin'], downcast="float")
yatir_df['PARout']  = pd.to_numeric(yatir_df['PARout'], downcast="float")
yatir_df['Lin']  = pd.to_numeric(yatir_df['Lin'], downcast="float")
yatir_df['Lout']  = pd.to_numeric(yatir_df['Lout'], downcast="float")
yatir_df['NEE']  = pd.to_numeric(yatir_df['NEE'], downcast="float")
yatir_df['LE']  = pd.to_numeric(yatir_df['LE'], downcast="float")
yatir_df['H']  = pd.to_numeric(yatir_df['H'], downcast="float")
yatir_df['H2O']  = pd.to_numeric(yatir_df['H2O'], downcast="float")
yatir_df['Pa']  = pd.to_numeric(yatir_df['Pa'], downcast="float")
yatir_df['uStar']  = pd.to_numeric(yatir_df['uStar'], downcast="float")

# Correct Lout for the emissivity
yatir_df['emissivity'] = 0.873  # Thakur 2021
yatir_df['Lemitted'] = calculate_Lemitted(yatir_df['Lout'], yatir_df['Lin'], yatir_df['emissivity'])
    
# Calculate Rn
yatir_df['albedo'] = yatir_df['Sout']/yatir_df['Sin']
yatir_df['Rn'] = yatir_df['Sin'] - yatir_df['Sout'] + yatir_df['Lin'] - yatir_df['Lout']


# Make air temperature mean of top of tower, according to the system used in 
def mean_tower_temp(temp, T_col_list):
    # Prepare data
    temp = temp[['DateTime'] + T_col_list].copy() # timestamp added for debugging only
    # Calculate the mean
    temp['T_mean'] = temp[T_col_list].mean(axis=1)
    # Check each column to see if the difference from the mean is > 2°C. If so, remove
    for column in T_col_list:
        temp.loc[np.abs(temp[column] - temp['T_mean']) > 2, column] = np.nan
    # Re-calculate the mean from the remaining data
    temp['T_mean'] = temp[T_col_list].mean(axis=1)
        
    return(temp['T_mean'])

# Make the mean air temperature,
# remove any value where one of them is more than 2°C off from the mean,
# and then calculate the mean again from the remaining data
yatir_df['Ta'] = mean_tower_temp(yatir_df, ['T 15m Vaisala_C', 'Prof_Tc_13m_C', 'Prof_Tc_15m_C', 'T_PIR_III_K'])

yatir_df['Ts'] = calculate_Ts_simple(yatir_df['Lemitted'], yatir_df['emissivity'])

yatir_df['D_T'] = yatir_df['Ts'] - yatir_df['Ta']

yatir_df['Season'] = 'Summer'
yatir_df['Ecosystem'] = 'Yatir'

# Keep only relevant columns
yatir_df = yatir_df[['DateTime','Season','Ecosystem','H','LE','Rn','Ta','Ts','Pa','H2O','D_T','uStar','Lout','Lemitted','Lin','Sin']]

display(yatir_df)
print('Done...')

EC Tower

C:\Users\Rafaels\.conda\envs\analysis\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.

     100.0 %	 Yatir_2000-2020.csv

,DateTime,Season,Ecosystem,H,LE,Rn,Ta,Ts,Pa,H2O,D_T,uStar,Lout,Lemitted,Lin,Sin
222144,2013-01-01 00:00:00+00:00,Summer,Yatir,-47.299999,1.549390,NaN,12.653333,NaN,93770.851562,7.6,NaN,0.44,NaN,NaN,275.899994,0.0
222145,2013-01-01 00:30:00+00:00,Summer,Yatir,-47.500000,0.860130,NaN,12.186667,NaN,93753.914062,7.6,NaN,0.38,NaN,NaN,274.799988,0.0
222146,2013-01-01 01:00:00+00:00,Summer,Yatir,-63.700001,2.263440,NaN,11.833333,NaN,93754.070312,7.6,NaN,0.55,NaN,NaN,274.000000,0.0
222147,2013-01-01 01:30:00+00:00,Summer,Yatir,-61.200001,-0.187920,NaN,11.706667,NaN,93751.367188,7.6,NaN,0.68,NaN,NaN,274.100006,0.0
222148,2013-01-01 02:00:00+00:00,Summer,Yatir,-53.900002,-0.731090,NaN,11.476667,NaN,93753.289062,7.6,NaN,0.49,NaN,NaN,274.600006,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344827,2019-12-31 21:30:00+00:00,Summer,Yatir,30.000000,-1.516308,-60.899994,7.117000,7.695020,94004.226562,9.8,0.578020,0.18,343.899994,307.958994,283.000000,0.0
344828,2019-12-31 22:00:00+00:00,Summer,Yatir,-5.000000,-5.761693,-62.699982,6.796500,7.627692,93992.640625,9.9,0.831192,0.09,343.299988,307.663787,280.600006,0.0
344829,2019-12-31 22:30:00+00:00,Summer,Yatir,97.099998,12.862393,-65.199982,7.260750,7.898915,93965.890625,10.1,0.638165,0.19,344.299988,308.854287,279.100006,0.0
344830,2019-12-31 23:00:00+00:00,Summer,Yatir,11.500000,-0.286690,-66.299988,6.576250,7.373141,93942.539062,10.0,0.796891,0.15,341.500000,306.549598,275.200012,0.0
344831,2019-12-31 23:30:00+00:00,Summer,Yatir,-11.500000,NaN,-69.299988,6.826000,8.017296,93903.648438,10.1,1.191296,0.19,344.299988,309.374988,275.000000,0.0

Done...

In [22]:
# Heat capacity of air [J kg-1 K-1]
yatir_df['cp'] = calculate_cp_moist_air(yatir_df['Ta'], yatir_df['H2O'], yatir_df['Pa'])

# Density of air [kg m-3]
yatir_df['rho'] = calculate_rho_moist_air(yatir_df['Ta'], yatir_df['H2O'], yatir_df['Pa']) 

# Calculate resistance [s m-1]
yatir_df['rH'] = yatir_df['rho'] * yatir_df['cp'] * yatir_df['D_T'] / yatir_df['H']

display(yatir_df)

,DateTime,Season,Ecosystem,H,LE,Rn,Ta,Ts,Pa,H2O,D_T,uStar,Lout,Lemitted,Lin,Sin,cp,rho,rH
222144,2013-01-01 00:00:00+00:00,Summer,Yatir,-47.299999,1.549390,NaN,12.653333,NaN,93770.851562,7.6,NaN,0.44,NaN,NaN,275.899994,0.0,1009.521188,1.130790,NaN
222145,2013-01-01 00:30:00+00:00,Summer,Yatir,-47.500000,0.860130,NaN,12.186667,NaN,93753.914062,7.6,NaN,0.38,NaN,NaN,274.799988,0.0,1009.509674,1.132969,NaN
222146,2013-01-01 01:00:00+00:00,Summer,Yatir,-63.700001,2.263440,NaN,11.833333,NaN,93754.070312,7.6,NaN,0.55,NaN,NaN,274.000000,0.0,1009.501084,1.134774,NaN
222147,2013-01-01 01:30:00+00:00,Summer,Yatir,-61.200001,-0.187920,NaN,11.706667,NaN,93751.367188,7.6,NaN,0.68,NaN,NaN,274.100006,0.0,1009.498032,1.135387,NaN
222148,2013-01-01 02:00:00+00:00,Summer,Yatir,-53.900002,-0.731090,NaN,11.476667,NaN,93753.289062,7.6,NaN,0.49,NaN,NaN,274.600006,0.0,1009.492525,1.136581,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344827,2019-12-31 21:30:00+00:00,Summer,Yatir,30.000000,-1.516308,-60.899994,7.117000,7.695020,94004.226562,9.8,0.578020,0.18,343.899994,307.958994,283.000000,0.0,1010.605397,1.163269,22.650801
344828,2019-12-31 22:00:00+00:00,Summer,Yatir,-5.000000,-5.761693,-62.699982,6.796500,7.627692,93992.640625,9.9,0.831192,0.09,343.299988,307.663787,280.600006,0.0,1010.654121,1.164801,-195.697702
344829,2019-12-31 22:30:00+00:00,Summer,Yatir,97.099998,12.862393,-65.199982,7.260750,7.898915,93965.890625,10.1,0.638165,0.19,344.299988,308.854287,279.100006,0.0,1010.773548,1.162287,7.721136
344830,2019-12-31 23:00:00+00:00,Summer,Yatir,11.500000,-0.286690,-66.299988,6.576250,7.373141,93942.539062,10.0,0.796891,0.15,341.500000,306.549598,275.200012,0.0,1010.704888,1.165347,81.617025
344831,2019-12-31 23:30:00+00:00,Summer,Yatir,-11.500000,NaN,-69.299988,6.826000,8.017296,93903.648438,10.1,1.191296,0.19,344.299988,309.374988,275.000000,0.0,1010.764872,1.163684,-121.844868

In [23]:
ts_max_yatir = yatir_df.loc[(yatir_df['Ecosystem'] == 'Yatir'),'Ts'].max()
ts_max_yatir_desert = yatir_df.loc[(yatir_df['Ecosystem'] == 'Yatir desert'),'Ts'].max()
display(ts_max_yatir)

46.71074181646287

In [25]:
mean_df = averaging(yatir_df)

# yatir_df[['Ecosystem','rho','cp']].agg(['mean','std'])

# print('Rho:', np.round(np.mean(yatir_df['rho']),2), '±', np.round(np.std(yatir_df['rho']),2))
# print('Cp: ', np.round(np.mean(yatir_df['cp']),0), '±', np.round(np.std(yatir_df['cp']),0))

# Calculate resistance [s m-1]
#mean_df['rH'] = mean_df['rho_mean'] * mean_df['cp_mean'] * mean_df['D_T_mean'] / mean_df['H_mean']
#mean_df['rH_sd'] = ((mean_df['Ts_sd'] **2 + mean_df['Ta_sd'] **2)/(mean_df['Ts_mean'] - mean_df['Ta_mean']) **2  + (mean_df['H_sd'] / mean_df['H_mean']) **2 ) **0.5


# Create a text of summarised values (mean + stddev)
mean_df['Rn'] = mean_df['Rn_mean'].astype(float).round(0).astype(int).astype(str) + ' (' + mean_df['Rn_sd'].astype(float).round(0).astype(int).astype(str) + ')'
mean_df['H'] = mean_df['H_mean'].astype(float).round(0).astype(int).astype(str) + ' (' + mean_df['H_sd'].astype(float).round(0).astype(int).astype(str) + ')'
mean_df['LE'] = mean_df['LE_mean'].astype(float).round(0).astype(int).astype(str) + ' (' + mean_df['LE_sd'].astype(float).round(0).astype(int).astype(str) + ')'
mean_df['Ta'] = mean_df['Ta_mean'].astype(float).round(1).astype(str) + ' (' + mean_df['Ta_sd'].round(1).astype(str) + ')'
mean_df['Ts'] = mean_df['Ts_mean'].astype(float).round(1).astype(str) + ' (' + mean_df['Ts_sd'].round(1).astype(str) + ')'
mean_df['D_T'] = mean_df['D_T_mean'].astype(float).round(1).astype(str) + ' (' + mean_df['D_T_sd'].round(1).astype(str) + ')'
mean_df['rH'] = mean_df['rH_mean'].astype(float).round(0).astype(str) + ' (' + mean_df['rH_sd'].astype(float).round(0).astype(str) + ')'
mean_df['Lout'] = mean_df['Lout_mean'].astype(float).round(0).astype(int).astype(str) + ' (' + mean_df['Lout_sd'].astype(float).round(0).astype(int).astype(str) + ')'
mean_df['Lin'] = mean_df['Lin_mean'].astype(float).round(0).astype(int).astype(str) + ' (' + mean_df['Lin_sd'].astype(float).round(0).astype(int).astype(str) + ')'
mean_df['Sin'] = mean_df['Sin_mean'].astype(float).round(0).astype(int).astype(str) + ' (' + mean_df['Sin_sd'].astype(float).round(0).astype(int).astype(str) + ')'

# Remove the original values
mean_df.drop(['H_mean','H_sd','LE_mean','LE_sd','Rn_mean','Rn_sd','Ta_mean','Ta_sd','Ts_mean','Ts_sd','D_T_mean','D_T_sd','Pa_mean','rho_mean','cp_mean',\
              'Pa_sd','H2O_mean','H2O_sd','Lout_mean','Lout_sd','Lin_mean','Lin_sd','Sin_mean','Sin_sd','rho_sd','cp_sd','rH_mean','rH_sd'], axis=1, inplace=True)
#display(mean_df)

# Convert to long format
out_df = mean_df.pivot(index='Season', columns='Ecosystem').stack(level=[0])
out_df.reset_index(inplace=True)
out_df.drop(['Season'], axis=1, inplace=True)
out_df.rename(columns={'level_1': 'Parameter'}, inplace=True)
display(out_df)
display(mean_df)

out_df.to_latex(output_path + 'Ketura_Science_resistance_new.tex', index=False)

Ecosystem Parameter       Yatir
0                Rn   120 (267)
1                 H   100 (185)
2                LE     23 (42)
3                Ta  18.8 (7.2)
4                Ts  22.0 (8.4)
5               D_T   2.6 (1.9)
6                rH   nan (nan)
7              Lout    420 (46)
8               Lin    322 (35)
9               Sin   240 (326)

,Season,Ecosystem,Rn,H,LE,Ta,Ts,D_T,rH,Lout,Lin,Sin
0,Summer,Yatir,120 (267),100 (185),23 (42),18.8 (7.2),22.0 (8.4),2.6 (1.9),nan (nan),420 (46),322 (35),240 (326)

# Until here

# t-tests diurnal each half-hour

In [115]:
temp = final_df.copy()
temp['Time'] = final_df['DateTime'].dt.strftime('%H:%M')

# Make mean and std dev
df_means = temp.groupby(['Ecosystem','Season','Time']).mean().reset_index()
df_sds   = temp.groupby(['Ecosystem','Season','Time']).std().reset_index()

# rename columns
df_means.rename(columns={'Ts': 'Ts_mean'}, inplace=True)
    
df_sds.rename(columns={'Ts': 'Ts_sd'}, inplace=True)

all_df_diurnal = df_means.merge(df_sds, on=['Ecosystem','Season','Time'])
all_df_diurnal['Season'] = pd.Categorical(all_df_diurnal['Season'], ordered=True, categories=['Spring','Summer','Autumn'])
# Remove the original values
#all_df_diurnal.drop(['Ts_x','Ts_y'], axis=1, inplace=True)

display (all_df_diurnal)

,Ecosystem,Season,Time,Year_x,H_x,LE_x,Pa_x,RH_x,TA_average_x,VPD_x,...,albedo_y,WS_average_y,Tsonic_y,uStar_y,Temperaturek_y,Ta_y,Rn_y,emissivity_y,Ts_sd,D_T_y
0,Desert background,Summer,00:00,2019.000000,-11.648523,-2.331297,99092.250000,32.931667,305.580000,3287.933333,...,NaN,0.802158,1.896457,0.071351,1.618608,1.618608,4.280043,0.0,1.173980,0.629194
1,Desert background,Summer,00:30,2019.000000,-8.371357,1.410252,99090.984375,33.215000,305.178333,3206.563333,...,NaN,0.836196,1.947653,0.093552,1.720000,1.720000,5.959974,0.0,1.210147,0.705045
2,Desert background,Summer,01:00,2019.000000,-10.930252,-3.472808,99093.296875,33.865000,304.691667,3089.243333,...,NaN,0.706200,2.072591,0.058648,1.652391,1.652391,6.999988,0.0,1.202715,0.618712
3,Desert background,Summer,01:30,2019.000000,-12.147190,-5.824137,99081.234375,34.380000,304.263333,2993.798333,...,NaN,0.506268,1.985226,0.054291,1.624136,1.624136,7.317245,0.0,1.187288,0.597114
4,Desert background,Summer,02:00,2019.000000,-13.098312,-6.957472,99073.531250,34.941667,303.818333,2893.090000,...,NaN,0.665763,1.949679,0.054838,1.594995,1.594995,6.977234,0.0,1.165803,0.579438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Yatir desert,Summer,21:30,2014.181818,-3.069034,-1.753356,94671.117188,73.627895,295.756364,784.209364,...,NaN,1.525143,1.556921,NaN,1.128248,1.128248,10.694774,0.0,1.248237,0.938691
188,Yatir desert,Summer,22:00,2014.181818,-4.037160,5.000449,94667.609375,73.385556,295.519545,763.733864,...,NaN,1.476142,1.539936,NaN,1.124276,1.124276,9.210844,0.0,1.308833,0.972105
189,Yatir desert,Summer,22:30,2014.181818,-6.518318,0.973837,94662.656250,73.255556,295.343182,734.045227,...,NaN,1.421431,1.573115,NaN,1.127966,1.127966,9.480728,0.0,1.431796,1.083453
190,Yatir desert,Summer,23:00,2014.217391,-5.852935,1.686053,94621.328125,68.647000,295.396087,856.118739,...,NaN,1.544867,2.683319,NaN,2.114021,2.114021,9.144975,0.0,2.243644,1.170079
191,Yatir desert,Summer,23:30,2014.272727,-6.386413,-3.317813,94566.289062,72.667368,295.092273,759.709591,...,NaN,1.465353,2.725645,NaN,2.205222,2.205222,8.953663,0.0,2.401785,1.017067

# t-tests seasonal means

In [74]:
p_df = ttest_all2(final_df.loc[~final_df['Season'].isna()], ['Season', 'Ecosystem'], ['Ts'])
display(p_df)

All categories: [['Summer'], ['Desert background', 'PV field', 'Yatir desert', 'Yatir']]
Testing data column:  Ts
Done...

   Season Ecosystem                                Test   P_Ts
0  Summer                Desert background vs. PV field  <.001
1  Summer            Desert background vs. Yatir desert  <.001
2  Summer                   Desert background vs. Yatir  <.001
3  Summer                     PV field vs. Yatir desert  <.001
4  Summer                            PV field vs. Yatir  <.001
5  Summer                        Yatir desert vs. Yatir  <.001

# Prepare table
temp = final_df.pivot(index='Season', columns='Ecosystem').stack(level=[0])
display(temp)

final_df = final_df.reset_index()
#final_df['P'] = ''
final_df.rename(columns={'level_1': 'Parameter'}, inplace=True)


p_df = ttest_all(all_df, 'Season', ['Sin','Sout','Lin','Lout','PARin','PARout'], 'Ecosystem')

final_df = final_df.merge(p_df, on = ['Parameter', 'Season'], how='left').copy()

display(final_df)
#final_df.to_latex(output_path + 'Ketura_radiative_fluxes_new.tex', index=False)

## Lout night values

In [ ]:
# t-test

a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Autumn') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lout_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Autumn') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lout_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Autumn, night: P =', pvalue_text(t[1]))

a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Spring') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lout_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Spring') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lout_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Spring, night: P =', np.round(t[1],2))

a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Summer') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lout_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Summer') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lout_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Summer, night: P =', pvalue_text(t[1]))

## Lin night values

In [ ]:
a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Autumn') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lin_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Autumn') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lin_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Autumn, night: P =', pvalue_text(t[1]))

a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Spring') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lin_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Spring') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lin_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Spring, night: P =', np.round(t[1],2))

a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Summer') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lin_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Summer') & ((all_df_diurnal['Time'] >= '20:00') | (all_df_diurnal['Time'] < '06:00')),'Lin_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Summer, night: P =', pvalue_text(t[1]))

## Lout mid-day values

In [ ]:
a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Autumn') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lout_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Autumn') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lout_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
#t = stats.ttest_ind(a, b, equal_var=False, nan_policy='omit') # Welch t-test for inequal variances
print('Autumn, mid-day: P =', pvalue_text(t[1]))

a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Spring') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lout_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Spring') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lout_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Spring, mid-day: P =', np.round(t[1],2))

a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Summer') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lout_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Summer') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lout_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
#t = stats.ttest_ind(a, b, equal_var=False, nan_policy='omit') # Welch t-test for inequal variances
print('Summer, mid-day: P =', pvalue_text(t[1]))

display(all_df_diurnal)

## $L_{in}$ day values

In [ ]:
a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Autumn') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lin_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Autumn') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lin_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Autumn, night: P =', pvalue_text(t[1]))

a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Spring') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lin_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Spring') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lin_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Spring, night: P =', np.round(t[1],2))

a = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'Desert background') & (all_df_diurnal['Season'] == 'Summer') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lin_mean']
b = all_df_diurnal.loc[(all_df_diurnal['Ecosystem'] == 'PV field') & (all_df_diurnal['Season'] == 'Summer') & ((all_df_diurnal['Time'] >= '10:00') & (all_df_diurnal['Time'] < '15:00')),'Lin_mean']
t = stats.ttest_rel(a, b, nan_policy='omit')
print('Summer, night: P =', pvalue_text(t[1]))

# Graphs

# Lout

In [ ]:
cbPalette = ["#02000B", "#2D09DE", "#DE090F", "#80ff80", "#c2c2d6", "#F0E442", "#0072B2", "#D55E00", "#CC79A7"]

# Convert the times back to a “fake” timestamp:
all_df_diurnal['timestamp2'] = pd.to_datetime(all_df_diurnal['Time'], utc=True)

plt = ggplot(all_df_diurnal)
plt = plt + geom_line(aes(x='timestamp2', y='Lout_mean',linetype='Ecosystem'))
plt = plt + geom_ribbon(aes(x='timestamp2', ymin='Lout_mean - Lout_sd', ymax='Lout_mean + Lout_sd', linetype='Ecosystem'), alpha=0.1)
plt = plt + labs(x='Hour', y='$L_{out}\; (W \; m^{-2}$)', parse=True)
plt = plt + facet_wrap(['Season'])
#plt = plt + scale_colour_manual(values=cbPalette) + scale_fill_manual(values=cbPalette)
plt = plt + theme_bw()
plt = plt + theme(axis_text_x=element_text(size=9,rotation=30,hjust=0.5,weight='bold'),
                  axis_title_x = element_blank(),
                  axis_text_y=element_text(size=9,weight='bold'),
                  strip_text=element_text(size=9,weight='bold'),
                  legend_title=element_blank(),
                  text=element_text(family="serif"), axis_ticks_direction_y='in', axis_ticks_direction_x='in')
plt = plt + theme(legend_position = 'top')
plt = plt + scale_x_datetime(date_breaks = '6 hours', date_labels = '%H:%M')

plt.save(graphs_path + 'lout_diurnal.pdf', width=19, height=7, units='cm', scale=1.3, dpi=600)
plt.save(graphs_path + 'lout_diurnal.png', width=19, height=7, units='cm', scale=1.3, dpi=600)


plt

# Lin

In [ ]:
cbPalette = ["#02000B", "#2D09DE", "#DE090F", "#80ff80", "#c2c2d6", "#F0E442", "#0072B2", "#D55E00", "#CC79A7"]

# Convert the times back to a “fake” timestamp:
all_df_diurnal['timestamp2'] = pd.to_datetime(all_df_diurnal['Time'], utc=True)

plt = ggplot(all_df_diurnal)
plt = plt + geom_line(aes(x='timestamp2', y='Lin_mean',linetype='Ecosystem'))
plt = plt + geom_ribbon(aes(x='timestamp2', ymin='Lin_mean - Lin_sd', ymax='Lin_mean + Lin_sd', linetype='Ecosystem'), alpha=0.1)
plt = plt + labs(x='Hour', y='$L_{in}\; (W \; m^{-2}$)', parse=True)
plt = plt + facet_wrap(['Season'])
#plt = plt + scale_colour_manual(values=cbPalette) + scale_fill_manual(values=cbPalette)
plt = plt + theme_bw()
plt = plt + theme(axis_text_x=element_text(size=9,rotation=30,hjust=0.5,weight='bold'),
                  axis_title_x = element_blank(),
                  axis_text_y=element_text(size=9,weight='bold'),
                  strip_text=element_text(size=9,weight='bold'),
                  legend_title=element_blank(),
                  text=element_text(family="serif"), axis_ticks_direction_y='in', axis_ticks_direction_x='in')
plt = plt + theme(legend_position = 'top')
plt = plt + scale_x_datetime(date_breaks = '6 hours', date_labels = '%H:%M')

plt.save(graphs_path + 'lin_diurnal.pdf', width=19, height=7, units='cm', scale=1.3, dpi=600)
plt.save(graphs_path + 'lin_diurnal.png', width=19, height=7, units='cm', scale=1.3, dpi=600)


plt

# Sin

In [ ]:
cbPalette = ["#02000B", "#2D09DE", "#DE090F", "#80ff80", "#c2c2d6", "#F0E442", "#0072B2", "#D55E00", "#CC79A7"]

# Convert the times back to a “fake” timestamp:
all_df_diurnal['timestamp2'] = pd.to_datetime(all_df_diurnal['Time'], utc=True)

plt = ggplot(all_df_diurnal)
plt = plt + geom_line(aes(x='timestamp2', y='Sin_mean',linetype='Ecosystem'))
plt = plt + geom_ribbon(aes(x='timestamp2', ymin='Sin_mean - Sin_sd', ymax='Sin_mean + Sin_sd', linetype='Ecosystem'), alpha=0.1)
plt = plt + labs(x='Hour', y='$S_{in}\; (W \; m^{-2}$)', parse=True)
plt = plt + facet_wrap(['Season'])
#plt = plt + scale_colour_manual(values=cbPalette) + scale_fill_manual(values=cbPalette)
plt = plt + theme_bw()
plt = plt + theme(axis_text_x=element_text(size=9,rotation=30,hjust=0.5,weight='bold'),
                  axis_title_x = element_blank(),
                  axis_text_y=element_text(size=9,weight='bold'),
                  strip_text=element_text(size=9,weight='bold'),
                  legend_title=element_blank(),
                  text=element_text(family="serif"), axis_ticks_direction_y='in', axis_ticks_direction_x='in')
plt = plt + theme(legend_position = 'top')
plt = plt + scale_x_datetime(date_breaks = '6 hours', date_labels = '%H:%M')

plt.save(graphs_path + 'Sin_diurnal.pdf', width=19, height=7, units='cm', scale=1.3, dpi=600)
plt.save(graphs_path + 'Sin_diurnal.png', width=19, height=7, units='cm', scale=1.3, dpi=600)


plt

# Sout

In [ ]:
cbPalette = ["#02000B", "#2D09DE", "#DE090F", "#80ff80", "#c2c2d6", "#F0E442", "#0072B2", "#D55E00", "#CC79A7"]

# Convert the times back to a “fake” timestamp:
all_df_diurnal['timestamp2'] = pd.to_datetime(all_df_diurnal['Time'], utc=True)

plt = ggplot(all_df_diurnal)
plt = plt + geom_line(aes(x='timestamp2', y='Sout_mean',linetype='Ecosystem'))
plt = plt + geom_ribbon(aes(x='timestamp2', ymin='Sout_mean - Sout_sd', ymax='Sout_mean + Sout_sd', linetype='Ecosystem'), alpha=0.1)
plt = plt + labs(x='Hour', y='$S_{out}\; (W \; m^{-2}$)', parse=True)
plt = plt + facet_wrap(['Season'])
#plt = plt + scale_colour_manual(values=cbPalette) + scale_fill_manual(values=cbPalette)
plt = plt + theme_bw()
plt = plt + theme(axis_text_x=element_text(size=9,rotation=30,hjust=0.5,weight='bold'),
                  axis_title_x = element_blank(),
                  axis_text_y=element_text(size=9,weight='bold'),
                  strip_text=element_text(size=9,weight='bold'),
                  legend_title=element_blank(),
                  text=element_text(family="serif"), axis_ticks_direction_y='in', axis_ticks_direction_x='in')
plt = plt + theme(legend_position = 'top')
plt = plt + scale_x_datetime(date_breaks = '6 hours', date_labels = '%H:%M')

plt.save(graphs_path + 'Sout_diurnal.pdf', width=19, height=7, units='cm', scale=1.3, dpi=600)
plt.save(graphs_path + 'Sout_diurnal.png', width=19, height=7, units='cm', scale=1.3, dpi=600)


plt

# PARin

In [ ]:
cbPalette = ["#02000B", "#2D09DE", "#DE090F", "#80ff80", "#c2c2d6", "#F0E442", "#0072B2", "#D55E00", "#CC79A7"]

# Convert the times back to a “fake” timestamp:
all_df_diurnal['timestamp2'] = pd.to_datetime(all_df_diurnal['Time'], utc=True)

plt = ggplot(all_df_diurnal)
plt = plt + geom_line(aes(x='timestamp2', y='PARin_mean',linetype='Ecosystem'))
plt = plt + geom_ribbon(aes(x='timestamp2', ymin='PARin_mean - Sin_sd', ymax='PARin_mean + PARin_sd', linetype='Ecosystem'), alpha=0.1)
plt = plt + labs(x='Hour', y='$PAR_{in}\; (\mu mol \; m^{-2} \; s^{-1}$)', parse=True)
plt = plt + facet_wrap(['Season'])
#plt = plt + scale_colour_manual(values=cbPalette) + scale_fill_manual(values=cbPalette)
plt = plt + theme_bw()
plt = plt + theme(axis_text_x=element_text(size=9,rotation=30,hjust=0.5,weight='bold'),
                  axis_title_x = element_blank(),
                  axis_text_y=element_text(size=9,weight='bold'),
                  strip_text=element_text(size=9,weight='bold'),
                  legend_title=element_blank(),
                  text=element_text(family="serif"), axis_ticks_direction_y='in', axis_ticks_direction_x='in')
plt = plt + theme(legend_position = 'top')
plt = plt + scale_x_datetime(date_breaks = '6 hours', date_labels = '%H:%M')

plt.save(graphs_path + 'PARin_diurnal.pdf', width=19, height=7, units='cm', scale=1.3, dpi=600)
plt.save(graphs_path + 'PARin_diurnal.png', width=19, height=7, units='cm', scale=1.3, dpi=600)


plt

# PARout

In [ ]:
cbPalette = ["#02000B", "#2D09DE", "#DE090F", "#80ff80", "#c2c2d6", "#F0E442", "#0072B2", "#D55E00", "#CC79A7"]

# Convert the times back to a “fake” timestamp:
all_df_diurnal['timestamp2'] = pd.to_datetime(all_df_diurnal['Time'], utc=True)

plt = ggplot(all_df_diurnal)
plt = plt + geom_line(aes(x='timestamp2', y='PARout_mean',linetype='Ecosystem'))
plt = plt + geom_ribbon(aes(x='timestamp2', ymin='PARout_mean - PARout_sd', ymax='PARout_mean + PARout_sd', linetype='Ecosystem'), alpha=0.1)
plt = plt + labs(x='Hour', y='$PAR_{out}\; (\mu mol \; m^{-2} \; s^{-1}$)', parse=True)
plt = plt + facet_wrap(['Season'])
#plt = plt + scale_colour_manual(values=cbPalette) + scale_fill_manual(values=cbPalette)
plt = plt + theme_bw()
plt = plt + theme(axis_text_x=element_text(size=9,rotation=30,hjust=0.5,weight='bold'),
                  axis_title_x = element_blank(),
                  axis_text_y=element_text(size=9,weight='bold'),
                  strip_text=element_text(size=9,weight='bold'),
                  legend_title=element_blank(),
                  text=element_text(family="serif"), axis_ticks_direction_y='in', axis_ticks_direction_x='in')
plt = plt + theme(legend_position = 'top')
plt = plt + scale_x_datetime(date_breaks = '6 hours', date_labels = '%H:%M')

plt.save(graphs_path + 'PARout_diurnal.pdf', width=19, height=7, units='cm', scale=1.3, dpi=600)
plt.save(graphs_path + 'PARout_diurnal.png', width=19, height=7, units='cm', scale=1.3, dpi=600)


plt

In [ ]:
diurnal_Lout_desert_march2018_df = diurnal(all_df, 'Desert', 'March')
diurnal_Lout_desert_march2018_df.to_csv(output_path + 'diurnal_Lout_desert_march2018.csv')

diurnal_Lout_pv_march2018_df = diurnal(all_df, 'Solar', 'March')
diurnal_Lout_pv_march2018_df.to_csv(output_path + 'diurnal_Lout_pv_march2018.csv')

diurnal_Lout_desert_october2018_df = diurnal(all_df, 'Desert', 'October')
diurnal_Lout_desert_october2018_df.to_csv(output_path + 'diurnal_Lout_desert_october2018.csv')

diurnal_Lout_desert_july2019_df = diurnal(all_df, 'Desert', 'July')
diurnal_Lout_desert_july2019_df.to_csv(output_path + 'diurnal_Lout_desert_july2019.csv') 

diurnal_Lout_pv_october2018_df = diurnal(all_df, 'Solar', 10)
diurnal_Lout_pv_october2018_df.to_csv(output_path + 'diurnal_Lout_pv_october2018.csv')

diurnal_Lout_pv_july2019_df = diurnal(all_df, 'Solar', 7)
diurnal_Lout_pv_july2019_df.to_csv(output_path + 'diurnal_Lout_pv_july2019.csv')